<%= form_with(model: local, local: true) do |form| %>
  <% if local.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(local.errors.count, "error") %> prohibited this local from being saved:</h2>

      <ul>
      <% local.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %><br />
    <%= form.text_field :nombre, :class => 'uk-input uk-width-1-4'%>
  </div>

  <div class="field">
    <%= form.label :imagen %><br />
    <%= form.file_field :imagen %>
  </div>

  <div class="field">
    <%= form.label :comuna %><br />
    <%= form.collection_select(:comuna_id, @comunas, :id, :name, {:prompt => 'Seleccionar Comuna'} , :class => 'uk-input uk-width-1-4')%>
  </div>

  <div class="field">
    <%= form.label :direccion %><br />
    <%= form.text_field :direccion, :class => 'uk-input uk-width-1-4' %>
  </div>

  <div class="field">
    <%= form.label :descripcion %><br />
    <%= form.text_area :descripcion, :class => 'uk-input uk-width-1-4' %>
  </div>
  <br />
  <div class="actions">
    <%= form.submit "Aceptar", class: 'uk-button uk-button-primary' %>
  </div>
<% end %>
