<p id="notice"><%= notice %></p>

<!--
https://medium.com/@anaharris/how-to-add-image-upload-functionality-to-your-rails-app-9f7fc3f3d042-->
<p>
  <% if @local.imagen.attached? %>
    <image src="<%=(url_for(@local.imagen))%>">
  <% end %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @local.nombre %>
</p>

<p>
  <strong>Comuna:</strong>
  <%= @local.comuna.name if not @local.comuna.nil? %>
</p>

<p>
  <strong>Comuna:</strong>
  <%= @local.propietario_local.email %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @local.direccion %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @local.descripcion %>
</p>

<% if @local.aceptado %>
  <p>
    <strong>Comentarios:</strong>
    <%= render "comentarios/form" %>
    <% @local.comentarios.each do |comentario|%>
    <div>
      <%= comentario.contenido %> - <%= comentario.matcher.nombre %>  - <%= comentario.created_at %>  - <%= comentario.valoracion %>
    </div>
    <% end %>
  </p>
<% end %>

<p>
  <strong>Aceptado:</strong>
  <%= @local.aceptado %>
</p>

<%= link_to 'Editar', edit_local_path(@local),:class => 'uk-button uk-button-text' %> |
<%= link_to 'Volver', :back, :class => 'uk-button uk-button-text' %>
