<!--
https://medium.com/@anaharris/how-to-add-image-upload-functionality-to-your-rails-app-9f7fc3f3d042-->

<div id="big-box-local" class="box-shadow">
  <div class="box-img">
    <% if @local.imagen.attached? %>
        <image src="<%=(url_for(@local.imagen))%>" width = '290px' >
      <% else %>
        <image src="<%= asset_path 'default-matcher-image.png' %>" alt="" >
    <% end %>
  </div>

  <div class="big-box-content">
    <div class="item">
      <span>Nombre:</span>
      <%= @local.nombre %>
    </div>
    <div class="item">
      <span>Comuna:</span>
      <%= @local.comuna.name if not @local.comuna.nil? %>
    </div>
    <div class="item">
      <span>Email:</span>
      <%= @local.propietario_local.email %>
    </div>
    <div class="item">
        <span>Dirección:</span>
        <%= @local.direccion %>
    </div>
    <div class="item">
        <span>Descripción:</span>
        <%= @local.descripcion %>
    </div>
    <div class="item">
      <span>Total meetings:</span>
      <%= @local.meetings.length %>
    </div>
    <div class="item">
      <span>Valoración:</span>
      <%= @promedio %> / 5 <span uk-icon="icon: star"></span>
    </div>
  </div>
</div>

<div class="box-spotify">



        <% if @local.aceptado %>
            <% if @tuvo_cita %>
              <div class="left-comment comment">
              <%= render "comentarios/form" %>
              </div>
            <% else %>
              <div class="left-comment comment">
              Debes tener una cita en este local para comentar
              </div>
            <% end %>
            <div class="right-comment comment">
            <strong>Comentarios:</strong>
            <div uk-slider = "autoplay: true ; autoplay-interval: 3000">
              <div class="uk-slider-container">
                <ul class="uk-slider-items uk-grid">

                <% @local.comentarios.each do |comentario|%>
                  <li>
                      <article class="uk-comment uk-visible-toggle uk-panel" tabindex="-1">
                          <header class="uk-comment-header uk-position-relative">
                              <div class="uk-grid-medium uk-flex-middle" uk-grid>
                                  <div class="uk-width-auto ">

                                      <% if comentario.matcher.imagen.attached? %>
                                          <img class="uk-comment-avatar" src="<%=(url_for(comentario.matcher.imagen))%>" width="80" height="80" alt="" >
                                        <% else %>
                                          <img src="<%= asset_path 'default-matcher-image.png' %>" width="80" height="80" alt="" class="uk-comment-avatar" >
                                      <% end %>

                                  </div>
                                  <div class="uk-width-expand">
                                      <h4 class="uk-comment-title uk-margin-remove"><%= comentario.matcher.nombre %></h4>
                                      <p class="uk-comment-meta uk-margin-remove-top"><%= comentario.created_at.strftime("%H:%M %d-%m-%Y") %>
                                      <br>
                                      valoracion local: <%= best_in_place_if comentario.matcher == current_matcher, comentario, :valoracion, :url => local_comentario_url(@local, comentario) %> / 5 
                                      </p>

                                  </div>
                              </div>
                              <div class="uk-position-top-right uk-position-small uk-hidden-hover"></div>
                          </header>
                          <div class="uk-comment-body">
                              <p><%= best_in_place_if comentario.matcher == current_matcher, comentario, :contenido, type: :textarea, :url => local_comentario_url(@local, comentario) %></p>
                          </div>
                      </article>

                      <% if comentario.matcher == current_matcher  || admin_signed_in? %>
                      <%= link_to 'Eliminar', {:controller => "comentarios", :action => "destroy", :id => comentario.id, :local_id => @local.id} ,:method=>:delete, remote: :true , :class => 'uk-button uk-button-text'%>
                      <% end %>
                  </li>

                <% end %>

                </ul>


              </div>
              </div>



             </div>



        <% end %>
        <%  if @local.propietario_local == current_propietario_local %>
          <%= link_to 'Editar', edit_local_path(@local), :class => 'uk-button uk-button-text' %> |
        <% end %>
        <%  if propietario_local_signed_in? %>
          <%= link_to 'Mis locales', locals_mis_locales_path, :class => 'uk-button uk-button-text' %> |
          <%= link_to 'Locales', locals_mis_locales_path, :class => 'uk-button uk-button-text' %>
        <% end %>
        <%  if admin_signed_in? %>
          <%= link_to 'Solicitudes', locals_solicitudes_path, :class => 'uk-button uk-button-text' %> |
          <%= link_to 'Locales', locals_path, :class => 'uk-button uk-button-text' %>
        <% end %>
</div>
