<!--
https://medium.com/@anaharris/how-to-add-image-upload-functionality-to-your-rails-app-9f7fc3f3d042-->

<div id="big-box-local" class="box-shadow">
  <div class="box-img">
    <% if @local.imagen.attached? %>
        <image src="<%=(url_for(@local.imagen))%>" >
      <% else %>
        <image src="<%= asset_path 'default-matcher-image.png' %>" alt="" >
    <% end %>
  </div>

  <div class="big-box-content">
    <div class="item">
      <span>nombre:</span>
      <%= @local.nombre %>
    </div>
    <div class="item">
      <span>comuna:</span>
      <%= @local.comuna.name if not @local.comuna.nil? %>
    </div>
    <div class="item">
      <span>email:</strong>
      <%= @local.propietario_local.email %>
    </div>
    <div class="item">
        <span>direccion:</span>
        <%= @local.direccion %>
    </div>
    <div class="item">
        <span>descripcion:</span>
        <%= @local.descripcion %>
    </div>
    <div class="item">
      <span>total meetings:</span> 
      <%= @local.meetings.length %>
    </div>
    <div class="item">
      <span>valoracion:</span> 
      <%= @promedio %>
    </div>
  </div>
</div>

<div class="box-spotify">



        <% if @local.aceptado %>
  
            <div class="left-comment comment">
            <%= render "comentarios/form" %>
            </div>
            <div class="right-comment comment">
            <strong>Comentarios:</strong>
            <% @local.comentarios.each do |comentario|%>
  
                <%= best_in_place_if comentario.matcher == current_matcher, comentario, :contenido, type: :textarea, :url => local_comentario_url(@local, comentario), :place_holder => "Editar" %> -
                <%= best_in_place_if comentario.matcher == current_matcher, comentario, :valoracion, :url => local_comentario_url(@local, comentario) %> -
                <%= comentario.matcher.nombre %>  - <%= comentario.created_at %>

                <% if comentario.matcher == current_matcher  || admin_signed_in? %>
                  - <%= link_to 'Eliminar', {:controller => "comentarios", :action => "destroy", :id => comentario.id, :local_id => @local.id} ,:method=>:delete, remote: :true%>
                <% end %>
            <% end %>
             </div>



        <% end %>
        <%  if @local.propietario_local == current_propietario_local %>
          <%= link_to 'Editar', edit_local_path(@local) %> |
        <% end %>
        <%  if propietario_local_signed_in? %>
          <%= link_to 'Mis locales', locals_mis_locales_path %> |
          <%= link_to 'Locales', locals_mis_locales_path %>
        <% end %>
        <%  if admin_signed_in? %>
          <%= link_to 'Solicitudes', locals_solicitudes_path %> |
          <%= link_to 'Locales', locals_path %>
        <% end %>
</div>













