<p id="notice"><%= notice %></p>

<!--
https://medium.com/@anaharris/how-to-add-image-upload-functionality-to-your-rails-app-9f7fc3f3d042-->
<p>
  <% if @local.imagen.attached? %>
    <image src="<%=(url_for(@local.imagen))%>">
  <% end %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @local.nombre %>
</p>

<p>
  <strong>Dueno:</strong>
  <%= @local.dueno %>
</p>

<p>
  <strong>Comuna:</strong>
  <%= @local.comuna.name %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @local.descripcion %>
</p>

<p>
  <strong>Aceptado:</strong>
  <%= @local.aceptado %>
</p>

<%= link_to 'Edit', edit_local_path(@local) %> |
<%= link_to 'Back', locals_path %>
