<%= form_for([@match,@meeting]) do |form| %>
  <% if @meeting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meeting.errors.count, "error") %> prohibited this meeting from being saved:</h2>

      <ul>
      <% @meeting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :local, "Local:" %>
    <%= form.collection_select(:local_id, @locals, :id, :nombre, {:prompt => 'Seleccionar Local'}) %>
  </div>

  <div class="field">
    <%= form.label :fecha, "Fecha:" %>
    <%= form.date_select :fecha, class: "uk-date-time uk-date-timeuk-date-time uk-width-1-2" %>
  </div>

  <div class="field">
    <%= form.label :hora, "Hora:" %>
    <%= form.time_select :hora, class: "uk-time uk-width-1-2" %>
  </div>
  <br />
  <div class="actions">
    <%= form.submit "Cita!", class: 'uk-button uk-button-primary' %>
  </div>
<% end %>
