<p id="notice"><%= notice %></p>

<p>
  <strong>Matcher 1:</strong>
  <%= @meeting.matcher_1 %>
</p>

<p>
  <strong>Matcher 2:</strong>
  <%= @meeting.matcher_2 %>
</p>

<p>
  <strong>Local:</strong>
  <%= @meeting.local %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @meeting.fecha %>
</p>

<p>
  <strong>Hora:</strong>
  <%= @meeting.hora %>
</p>

<p>
  <strong>Match:</strong>
  <%= @meeting.match %>
</p>

<%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<%= link_to 'Back', meetings_path %>
