<p id="notice"><%= notice %></p>

<p>
  <strong>Local:</strong>
  <%= @meeting.local %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @meeting.fecha %>
</p>

<p>
  <strong>Hora:</strong>
  <%= @meeting.hora %>
</p>

<%= link_to 'Editar', edit_meeting_path(@meeting), :class => 'uk-button uk-button-text'%> |
<%= link_to 'Volver', meetings_path, :class => 'uk-button uk-button-text' %>
