<%= form_for([@local,@comentario], remote: true) do |form| %>
  <% if @comentario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comentario.errors.count, "error") %> se prohibio guardar este comentario:</h2>

      <ul>
      <% @comentario.errors.full_messages.each do |message| %>
        <li><%= mensaje %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :valoracion, "valoración" %>
    <%= form.select(:valoracion, [1, 2, 3, 4, 5], {:prompt => 'seleccionar valoración'},  :class => 'uk-select')  %>
  </div>

  <div class="field">
    <%= form.label :contenido, "contenido" %>
    <%= form.text_area :contenido, :class => 'uk-width-2 uk-textarea' %>
  </div>

  <div class="actions">
    <%= form.submit "comentar" , class: 'uk-button uk-button-primary'%>
  </div>
<% end %>
