<p id="notice"><%= notice %></p>

<h1>Comentarios</h1>

<table>
  <thead>
    <tr>
      <th>Matcher</th>
      <th>Local</th>
      <th>Valoracion</th>
      <th>Contenido</th>
      <th>Creación</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comentarios.each do |comentario| %>
      <tr>
        <td><%= comentario.matcher %></td>
        <td><%= comentario.local %></td>
        <td><%= comentario.valoracion %></td>
        <td><%= comentario.contenido %></td>
        <td><%= comentario.created_at %></td>
        <td><%= link_to 'Show', comentario %></td>
        <td><%= link_to 'Edit', edit_comentario_path(comentario) %></td>
        <td><%= link_to 'Destroy', comentario, method: :delete, data: { confirm: 'Seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comentario', new_comentario_path %>
