<p id="notice"><%= notice %></p>

<p>
  <strong>Matcher:</strong>
  <%= @comentario.matcher %>
</p>

<p>
  <strong>Local:</strong>
  <%= @comentario.local.nombre %>
</p>

<p>
  <strong>Valoracion:</strong>
  <%= @comentario.valoracion %>
</p>

<p>
  <strong>Contenido:</strong>
  <%=  %>
</p>

<%= link_to 'Edit', edit_local_comentario_path(@local, @comentario) %> |
<%= link_to 'Back', locals_path(@local) %>
