<ul>
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Locales', locals_path %></li>
    <li><%= link_to 'Gustos', gustos_path %></li>
    <li><%= link_to 'Comunas', comunas_path %></li>
    <li><%= link_to 'Matchers', matchers_path %></li>
    <li><%= link_to 'Meetings', meetings_path %></li>
</ul>