

<% if (matcher_signed_in? || admin_signed_in? || propietario_local_signed_in?) %>
<ul>
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Locales', locals_path %></li>
    <% if admin_signed_in? %>
    	<li><%= link_to 'Solicitudes', locals_solicitudes_path %></li>
    <% elsif propietario_local_signed_in? %>
        <li><%= link_to 'Mis Locales', locals_mis_locales_path %></li>
    <% end %>
    <li><%= link_to 'Categorías', categories_path %></li>
    <li><%= link_to 'Gustos', gustos_path %></li>
    <li><%= link_to 'Comunas', comunas_path %></li>
    <li><%= link_to 'Matchers', matchers_path %></li>
    <li><%= link_to 'Likes', likes_path %></li>
    <li><%= link_to 'Meetings', meetings_path %></li>
</ul>
<% end %>