<div id="big-box" class="box-shadow">
<div>
  <% if @matcher.imagen.attached? %>
      <image src="<%=(url_for(@matcher.imagen))%>" width = '290px' >
    <% else %>
      <image src="<%= asset_path 'default-matcher-image.png' %>" alt="" width = '290px'>
  <% end %>
</div>
<div class="big-box-content">
   <p>
    <strong>Nombre:</strong>
    <%= @matcher.nombre %>
    <strong>Edad:</strong>
    <%= @matcher.edad %>
  </p>


    <strong>Rut:</strong>
    <%= @matcher.rut %>
    <strong>Descripción:</strong>
    <%= @matcher.descripcion %>
    <strong>Gustos:</strong>
    <% @matcher.gustos.each do |gusto| %>
      <%= gusto.titulo %>
    <% end %>
    <strong>Género:</strong>
    <%= @matcher.genero %>


  <p>
    <strong>Comuna:</strong>
    <%= @matcher.comuna.name if not @matcher.comuna.nil?  %>
  </p>
  <% if @matcher == current_matcher %>
    <span uk-icon="icon: cog"></span>&nbsp;&nbsp;<%= link_to 'Editar Perfil', edit_matcher_registration_path, :class => 'uk-button uk-button-text' %>&nbsp;&nbsp;|&nbsp;&nbsp;<span class="uk-icon uk-icon-image" style="background-image:  url(<%= asset_path 'spotify.png' %>);"></span>&nbsp;&nbsp;<%= link_to 'Conectar con Spotify', spotify_request_path, :class => 'uk-button uk-button-text' %>
  <% end %>
</div>
  
</div>

<div class="box-spotify">



<% if @matcher.songs %>
  <div class="uk-position-relative uk-visible-toggle uk-light spotify-imgs" tabindex="-1" uk-slider>

    <ul class="uk-slider-items uk-child-width-1-6">
        <% @matcher.songs.each do |song| %>
        <li>
            <img src="<%= song.image %>" alt="<%= song.name %>" height="170px">
        </li>
<% end %>
    </ul>
    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

</div>

<% end %>


</div>



