<div id="big-box" class="box-shadow">
  <div class="box-img">
    <% if @matcher.imagen.attached? %>
        <image src="<%=(url_for(@matcher.imagen))%>" width = '290px' >
      <% else %>
        <image src="<%= asset_path 'default-matcher-image.png' %>" alt="" width = '290px'>
    <% end %>
  </div>
  <div class="big-box-content">
    <div class="item">
      <span>Nombre:</span>
      <%= @matcher.nombre %>
    </div>

    <div class="item">
      <span>Edad:</span>
      <%= @matcher.edad %>
    </div>

    <div class="item">
      <span>Descripción:</span>
      <%= @matcher.descripcion %>
    </div>

    <div class="item">
      <span>Gustos:</span>
      <% @matcher.gustos.each do |gusto| %>
        <%= gusto.titulo %>
      <% end %>
    </div>

    <div class="item">
      <span>Género:</span>
      <%= @matcher.genero %>
    </div>
    <div class="item">
      <span>Comuna:</span>
      <%= @matcher.comuna.name if not @matcher.comuna.nil?  %>
    </div>
    <% if @matcher == current_matcher %>
      <span uk-icon="icon: cog"></span>&nbsp;&nbsp;<%= link_to 'Editar Perfil', edit_matcher_registration_path, :class => 'uk-button uk-button-text' %>&nbsp;&nbsp;|&nbsp;&nbsp;<span class="uk-icon uk-icon-image" style="background-image:  url(<%= asset_path 'spotify.png' %>);"></span>&nbsp;&nbsp;<%= link_to 'Conectar con Spotify', spotify_request_path, :class => 'uk-button uk-button-text' %>
    <% elsif admin_signed_in? %>
      <span uk-icon="icon: trash"></span>&nbsp;&nbsp;<%= link_to 'Eliminar', {:controller => "matchers/registrations", :action => "destroy", :id => @matcher.id}, :method=>:delete , :class => 'uk-button uk-button-text'%>
    <% end %>
  </div>

</div>

<div class="box-spotify">



<% if @matcher.songs %>
  <div class="color-black spotify-imgs">
    <img src="https://logodownload.org/wp-content/uploads/2020/03/listen-on-spotify.png" width="100px">  <strong>Mis favoritos:</strong></div>
  <br>
  <div class="uk-position-relative uk-visible-toggle uk-light spotify-imgs " tabindex="-1" uk-slider = "autoplay: true ; autoplay-interval: 3000">
    <ul class="uk-slider-items uk-child-width-1-6 ">
        <% @matcher.songs.each do |song| %>
        <li>
            <a href="<%= song.uri %>" target="_blank" ><img src="<%= song.image %>" alt="<%= song.name %>" height="170px"></a>
        </li>
<% end %>
    </ul>
    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

</div>

<% end %>


</div>
