<p id="notice"><%= notice %></p>

<h1>Comunas</h1>

<table>
  <tbody>
    <% @comunas.each do |comuna| %>
      <tr>

        <td><span uk-icon="icon: location"></span>&nbsp;<%= link_to comuna.name, comuna, :class => 'uk-button uk-button-text' %>&nbsp&nbsp&nbsp&nbsp</td>
        <% if admin_signed_in? %>
          <td>&nbsp&nbsp&nbsp&nbsp<span uk-icon="icon: cog"></span>&nbsp; <%= link_to 'Editar', edit_comuna_path(comuna), :class => 'uk-button uk-button-text' %>&nbsp&nbsp| </td>
          <td>&nbsp&nbsp<span uk-icon="icon: trash"></span>&nbsp; <%= link_to 'Eliminar', comuna,:class => 'uk-button uk-button-text', method: :delete, data: { confirm: 'Seguro?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<span uk-icon="icon: plus"></span>&nbsp;<%= link_to 'Nueva Comuna', new_comuna_path, :class => 'uk-button uk-button-text' %>
