<div id="big-box-match" class="box-shadow">
<div class="box-matchers">
<div class="box-matcher">
<% if @match.matcher1.imagen.attached? %>
        <image src="<%=(url_for(@match.matcher1.imagen))%>" >
      <% else %>
        <image src="<%= asset_path 'default-matcher-image.png' %>" alt="" >
    <% end %>
<span><%= @match.matcher1.nombre %></span></div>
<div><h3>Match!</h3></div>


<div class="box-matcher">

<% if @match.matcher2.imagen.attached? %>
        <image src="<%=(url_for(@match.matcher2.imagen))%>" >
      <% else %>
        <image src="<%= asset_path 'default-matcher-image.png' %>" alt="" >
    <% end %>
<span><%= @match.matcher2.nombre %></span></div>


</div>
<div class="big-box-content">
<p>
	<% if @match.meeting %>
		<%= @meeting.local.nombre %>
	<% else %>
	  <strong>Y donde nos vemos??</strong>
	  	<%= render "meetings/form" %>
	<% end %>
</p>
</div>
</div>


<div class="box-spotify">
</div>
	
