<h2>Editar <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => 'uk-input uk-width-1-4' %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :Contraseña %> <i>(Dejar en blanco si no quieres cambiarla)</i><br />
    <%= f.password_field :password, autocomplete: "Nueva contraseña", :class => 'uk-input uk-width-1-4' %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> caracteres mínimo</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :Confirmación_contraseña %><br />
    <%= f.password_field :password_confirmation, autocomplete: "Nueva contraseña", :class => 'uk-input uk-width-1-4' %>
  </div>

  <div class="field">
    <%= f.label :Contraseña_actual %> <i>(Necesitamos tu contraseña actual para confirmar cambios)</i><br />
    <%= f.password_field :current_password, autocomplete: "Contraseña actual", :class => 'uk-input uk-width-1-4' %>
  </div>

  <br>
  <div class="actions">
    <%= f.submit "Actualizar", class: 'uk-button uk-button-primary' %>
<% end %>
<%= link_to "Atras", :back, class: 'uk-button uk-button-primary'%>
</div>

<h3>¿Quieres borrar tu cuenta?</h3>

<p><%= button_to "Borrar mi cuenta", registration_path(resource_name), data: { confirm: "¿Estas seguro?" }, method: :delete, class: 'uk-button uk-button-primary' %></p>


