<p id='notice'><%= notice %></p>

<h1>Editar Gusto#new</h1>
<%= form_with(model: @gusto, method: :patch) do |form| %>
  <div class= 'field'>
    <%= form.label :titulo %>
    <%= form.text_field :titulo %>
    <%= form.label :descripcion %>
    <%= form.text_field :descripcion %>

    <div class='actions'>
      <%=form.submit %>
    </div>

<%end%>

<%= link_to 'Back', gustos_path %>
