<h1>Gustos</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Categoría</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @gusto.each do |gusto| %>
      <tr>
      <td class='uk-text'><span uk-icon="icon: info"></span>&nbsp;<%= gusto.titulo %>&nbsp&nbsp&nbsp&nbsp</td>
      <td><span uk-icon="icon: tag"></span>&nbsp;<%= link_to gusto.category.nombre, gusto.category, :class => 'uk-button uk-button-text' %>&nbsp&nbsp&nbsp&nbsp</td>
      <td>&nbsp&nbsp&nbsp&nbsp<span uk-icon="icon: cog"></span>&nbsp; <%= link_to 'Editar', gustos_edit_path(gusto), :class => 'uk-button uk-button-text' %>&nbsp&nbsp| </td>
      <td>&nbsp&nbsp<span uk-icon="icon: trash"></span>&nbsp; <%= link_to 'Eliminar', gusto,:class => 'uk-button uk-button-text', method: :delete, data: { confirm: 'Seguro?' } %></td>
    </tr>
    <%end%>
  </tbody>
</table>

<br>


<span uk-icon="icon: plus"></span>&nbsp;<%= link_to 'Nuevo gusto', gustos_new_path, :class => 'uk-button uk-button-text' %>
