<h1>Nuevo Gusto</h1>
<%= form_with(model: @gusto, method: :post) do |form| %>
  <div class= 'field'>
    <%= form.label :titulo %>
    <%= form.text_field :titulo %>
    <%= form.label :descripcion %>
    <%= form.text_field :descripcion %>
    <%= form.label :category %>
    <%= form.collection_select(:category_id, @categories, :id, :nombre, {:prompt => 'Seleccionar Categoría'}) %>

    <div class='actions'>
      <%=form.submit %>
    </div>

<%end%>
<%= link_to 'Volver', gustos_path,:class => 'uk-button uk-button-text' %>
