<p>
  <strong>Gusto:</strong>
  <%= @gusto.category.nombre %>
  <%= @gusto.titulo %>

</p>

<%= link_to 'Volver', gustos_path, :class => 'uk-button uk-button-text' %> | 
<%= link_to 'Editar', gustos_edit_path, :class => 'uk-button uk-button-text' %> | 
<%= link_to 'Eliminar', gusto_path(@gusto.id), :class => 'uk-button uk-button-text', method: :delete, data: {confirm: 'Seguro?'} %>
