<p>
  <strong>Gusto:</strong>
  <%= @gusto.category.nombre %>
  <%= @gusto.titulo %>
  <%= @gusto.descripcion %>

</p>

<%= link_to 'Back', gustos_path %>
<%= link_to 'Editar', gustos_edit_path %>
<%= link_to 'Eliminar', gusto_path(@gusto.id), method: :delete, data: {confirm: 'Seguro?'} %>
