<!DOCTYPE html>
<html>
  <head>
    <title>Grupo54Proyecto</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.3/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.3/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.3/dist/js/uikit-icons.min.js"></script>
  </head>

  <body id="home">
    <div id="home-content">
        <div id="name_app"><h2>dccitas</h2></div>
        <div class="buttons">
            <%= link_to "login matcher", new_matcher_session_path,
                  :class => "button login", :method => :get %>

            <%= link_to "registrarse", new_matcher_registration_path,
                  :class => "button signup", :method => :get %>
        </div>
    </div>
  </body>
</html>
